
.clearfix{
    clear: both;
}

.float_left{
    float: left;
}

.red_color{
    color: #f03c3c;
}

.without_bottom_margin{
    margin-bottom: 0px;
}

.wrapper{
    width: 945px;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'HelveticaNeue';
}

/* header */
#form {
    float: right;
}

.search {
    border:1px solid #d5d5d5;
    font-family: 'HelveticaNeue Regular';
    font-size: 12px;
    color: #d5d5d5;
    border-right:0px;
    padding-left: 10px;
    height: 30px;
    width: 160px;

}
.button {
    position: relative;
    background:url("../img/search.png") no-repeat center;
    height: 34px;
    width:40px;
    left:-5px;
    border:1px solid #d5d5d5;
    border-left:0px;
    padding-bottom: 5px;

}

@-moz-document url-prefix() { 
  .button {
      top: -1px;
  }
}

@media all and (-ms-high-contrast: none) { 
    .button {
      top: -1px;
  }
}


.menu {
    width: 100%;
    position: relative;
    font-family: 'HelveticaNeue Medium';
    font-size: 14px;
    border-top: 1px solid #ececec;
    color: #2b2b2b;
    margin-top: 35px;
    margin-bottom: 34px;
}

.menu ul {
    height: 46px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
}


.menu li {
    display: inline; 
    padding-top: 15px;   
    margin-top: -1px;
    line-height: 46px;
}

.menu a{
    position: relative;
    height: 20px;
    border-right: 1px solid #ececec;
    padding-right: 20px;
    padding-top: 1px; 
    padding-left: 15px;
    padding-bottom: 1px;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    color: #000000;
}

.menu li:hover, .menu li.active a{
    font-family: 'HelveticaNeue';
    font-weight: bold;
    border-top: 1px solid #f03c3c;
}

.menu a:hover, li.active a{
    color: #f03c3c;
}


/*slider */

.slider{
    float: left;
    margin-bottom: 45px;
}

.middle_row{
    position: absolute;
}

.overlay{
    position: absolute;
    margin-top: 189px;
    margin-left: 316px;
}

.blurb{
    position: absolute;
    margin-top: 208px;
    margin-left: 313px;
}

.next{
    position: absolute;
    margin-top: 210px;
    right: 194px;
}

.previous{
    position: absolute;
    margin-top: 210px;
    margin-left: -15px;
}

/* index slogan*/
.slogan{
    padding-bottom: 45px;
    text-align: center;
    font-family: 'Chunkfive';
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* secion posrts */

.post_categories{
   padding-left: 0px;
   margin-top: 0px;
}

.post_categories li{
     display: inline;
     font-family: 'HelveticaNeue Medium';
     font-size:14px;
     padding-left: 0px;
     margin-right: 5px;
}


#container .column{
    position: relative;
    float: left;
}

.column{
    float: left;
    margin-bottom: 15px;
}

.column a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.overlay_post1{
    position: absolute;
}

#one, #two, #three {
    margin-right: 15px;
}

.post {
    width: 220px;
    border:1px solid #d5d5d5;
    border-top: 0px; 
    margin-bottom: 20px;
}

.post_text{
    padding-left: 15px;
    padding-right: 15px;
}

.more_button{
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
    line-height: 28px;
}

.post_title{
    font-family: 'HelveticNeue';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.post_info{
    font-family: 'HelveticaNeue Medium';
    font-size: 11px;
    line-height: 18px;
    color: #8a8a8a;
}

.post_content{
    font-family: 'HelveticaNeue Regular';
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.pagination{
    margin-top: 30px;
    margin-bottom: 50px;
}

.page_button{
    height: 26px;
    width: 26px;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 12px;
    color: #666666;
    opacity: 100%;
    background: linear-gradient (outside, #ececec, #FFFFFF);
    border: none;
    border-radius: 4px;
     box-shadow: 1px 1px 1px;
}

.page_hover{

}

.page_selected{
   
}
/* About page */
.about_text1{
    font-family: 'HelveticaNeue Regular';
    line-height: 18px;
    font-size: 12px;
    color: #414141
}

.about_text2{
     font-family: 'HelveticaNeue Light';
    font-size: 12px;
    font-style: italic;
    color: #414141
}

.about_text3{
     font-family: 'HelveticaNeue Medium';
     line-height: 16px;
    font-size: 12px;
}

.two_column_text{
    width: 436px;
    margin-right: 68px;
}

.three_column_text{
    width: 303px;
    margin-top: 30px;
    margin-right: 15px;
}

.img_about{
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
}

.drop_caps{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 36px;
    color: #f03c3c;
}

.quotes{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 12px;
    font-family: 'HelveticaNeue Regular';
    font-size: 72px;
    color: #f03c3c;
}

.without_right_margin{
    margin-right: 0px;
}

#buttons input[type="button"] {
    width: 100px;
    height: 35px;
    margin-right: 20px;
    margin-bottom: 36px;
    margin-top: 35px;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 13px;
    border:none;
    border-radius: 3px;
}

.green{
    background-color: #8caf2f;
}

.silver{
    background-color: #d1d1d1;
}

.blue{
    background-color: #6aa2f7;
}

.orange{
    background-color: #f67441;
}

.purple{
    background-color: #f16bef;
}

.red{
    background-color: #f95151;
}

.baby_blue{
    background-color: #61e0e8;
}

#alerts{
    margin-bottom: 30px;
}

#alerts input[type="alert"] {
    width: 100%;
    height: 60px;
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 17px;
}

.blue_alert{
    background-color: #d1e4f3;
    border:1px solid #4d8fcb;
    color: #4d8fcb;
}

.green_alert{
    background-color: #effeb9;
    border:1px solid #98c601;
    color: #98c601;
}

.red_alert{
    background-color: #fbcbc1;
    border:1px solid #eb5439;
    color: #eb5439;
}

.orange_alert{
    background-color: #ffe9ad;
    border:1px solid #fab418;
    color: #fab418;
}

/* Contacts page */
.text_contacts{
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 28px;
    margin-top: 0px;
}

#feedback{
    margin-top: 33px;
}
#feedback input {
    display: block;
    width: 216px;
    height: 33px;
    margin-top: 36px;   
    font-family: 'HelveticaNeue Medium';
    font-size: 12px;
    line-height: 28px;
    color: #c6c6c6;
    padding-left: 15px;
    border: 1px solid #d5d5d5;
    margin-bottom: 10px;
    background-color: #fafafa;
    margin-top: 0px;
}

#feedback input[type="message"] {
    width: 492px;
    height: 216px;
}

.submit_button{
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
    font-family: 'HelveticaNeue Regu';
    font-weight: bold;
    line-height: 28px;
    font-size: 14px;
    color: #474747;
}

/*blog item page */

.img1_blog_item{
    margin-right: 40px;
}

.img2_blog_item{
    margin-top: 30px;
    margin-bottom: 45px;
}

.table_stats_header{
    font-family: 'HelveticaNeue Medium';
    text-align: left;
    font-size:12px;
    line-height: 20px;
}

.table_stats{
    font-family: 'HelveticaNeue Regular';
    text-align: left;
    font-weight: normal;
    font-size:12px;
    color: #f03c3c;
    line-height: 20px;
}

table td:not(:last-child){
    padding-right: 57px;
}
.blog_item_text{
     font-family: 'HelveticaNeue Regular';
     font-weight: normal;
     font-size: 12px;
     line-height: 18px;
}

.related_post_title{
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0px;
}

.related_post_info{
    font-family: 'HelveticaNeue Medium';
    font-size: 11px;
    line-height: 18px;
    color: #8a8a8a;
    margin-top: 5px;
}
/* footer */

footer {
    border-top: 1px solid #d5d5d5;
    width: 945px;
    height: 100px;
    bottom: 0;
    margin:0px auto;
    overflow: hidden;
}

.social_icons{
    float: left;
    margin-top: 22px;
}

.footer_text{
    margin-top: 22px;
    float: right;
    overflow:hidden;
    font-family: 'HelveticaNeue';
    color: #4f5356;
    line-height: 0.5;
    text-align: right;
}

#text2{
    font-size: 11px;
}

#text1{
    font-size: 12px;
    font-weight: bold;
}
